body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 1em;
    font-family: 'Architects Daughter', cursive;
    background-image: url("../img/patron.png");
    background-repeat: repeat;
}
header {
    background-color: #26528c;
    height: 20%;
    border: 3px solid black;
    text-align: center;
    font-size: 2em;
}
        #headone {
            color: white;
        }
        #headtwo {
            color: aqua;
        }
        #headthree {
            color:darkkhaki;
        }

main {
    display: flex;
    background-color: rgb(241, 233, 231);
    height: 60%;
    border: 3px solid black;
    padding: 1em;
    margin: 1em;
}
.articulos {
    display:flex;
    width: 80%;
    flex-direction: column;
}
        article {
            border: 2px solid #a67665;
            margin: 1em;
            text-align: center;
            background-color: #f2d399;


        }

                .cita, .tabla {
                    margin-left: 20px;
                }   

                blockquote {
                    background-color: darkgreen;
                    font-size: 2em;
                    padding: 20px;
                    color: white;
                }

                    .firma {
                        text-align: right;
                    }

                .tabula {
                    border-color: 1px solid #a67665;
                    padding: 2em;
                    margin: 2em;
                    width: 90%;
                    border-collapse: collapse;

                }   
                .taabla {
                    text-align: center;
                    background-color: #8C113E;
                    color: white;
                    font-size: 2em;
                }
                td {
                    border: 1px solid #a67665;
                    text-align: left;
                    font-weight: bold;
                    margin-left: 20px;
                    padding: 1em;
                    color: black;
                }



aside { 
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
        .lado {
            padding:2em;
            margin: 1em;
            background-color: #8c2771;
            color: white;
            text-align: left;
        }
        form {
            margin: 1em;
            flex-direction: column-reverse;
        }
        img {
            padding: 1em;
            margin: 1em;
            height: 200px;
            width: 200px;
            border-radius: 1px dotted  #26528c;
        }


footer {
    display: flex;
    height: 20%;
    background-color: #26528c;
    color: white;
    font-size: 2em;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-around;
}


